#roomContainer{
    background-color: #3a3a3a;
    display: flex;
    padding-top: 10px;
    margin-top: 8px;
    width: 100%;
    height: 159px;
    border-radius: 4px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.16);
}

#image{
    width: calc(521px * 0.5);
    height: calc(293px * 0.5);
    margin-left: 10px;
    border-radius: 4px;
    background-repeat: round;
}

#roomInfo{
    display: block;
    margin-left: 14px;
}